/*index blocking*/


/*footer*/
#bottomborder {
	height: 200px;
}

.linesubtitle {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-left: .4em;
    letter-spacing: 0em;
    line-height: 1.3em;
    color: #575757;
}

#halfcolumnsnopaddingcenter {
	width: 50%;
	top: 0;
	margin: auto;
}

.boldedfontnc {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0em;
    line-height: 1em;
    font-weight: 600;
}

#chimebolded {
    color: #B39DDB;
}

#snickerbolded {
    color: #81C784;
}
#aboutcontainer {
	padding-top: 10%;
	margin-top: 5%;
	margin: auto;
	width: 80%;
}

.interviewunderline {
	border-bottom: 1px solid #C8E6C9;
	display: flex;
}

#aboutcontainernopadding {
	margin:  auto;
	width: 80%;
}
#abouthalf {
	width: 40%;

}

#one {
	display: block;
} 

#two, #three {
	display: none;
}

.aboutsubtitle:hover {
	border-bottom-color: #e29589;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

#rightabouthalf {
	width: 60%;
	padding-left: 5%;
	margin: auto;
}

#intro {
	flex-direction: column;
	margin: auto;
	display: flex;
}

#intropadding{
	flex-direction: column;
	margin: auto;
	display: flex;
	width: 90%;
	padding-top: 2em;
	padding-left: 8%;
}
.aboutintrofont {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2.5em;
    letter-spacing: .06em;
    line-height: 1em;
    font-weight: 600;
    color: #e29589;
}

.aboutintrofont {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2.5em;
    letter-spacing: .06em;
    line-height: 1em;
    font-weight: 600;
    color: #e29589;
}
.aboutsubtitle {
	cursor: pointer;
	font-family: 'Mukta Vaani', sans-serif;
	font-weight: 300;
    font-size: 1.5em;
    margin-top: 1.5em;
    letter-spacing: .05em;
    line-height: 1em;
    color: #878182;
  	padding-bottom: .1em;
   }

#aboutmespecialfont {
	font-family: 'Mukta Vaani', sans-serif;
	font-weight: 300;
    font-size: 1.1em;
    letter-spacing: .05em;
    line-height: 1em;
    color: #e29589;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #e29589;

}

/*#aboutone.aboutsubtitle:hover {
	 border-bottom: 2px solid #e29589;
  border-left: 0;
  -webkit-transform-origin: 0% 100%;
}


#aboutone.aboutsubtitle::before {
  border-bottom: 2px solid #e29589;
  border-left: 0;
  -webkit-transform-origin: 0% 100%;
}

#aboutone.aboutsubtitle::after {
  border-top: 0;
  border-right: 0;
  -webkit-transform-origin: 50% 50%;
}

.box:hover::after, .box:hover::before {
  -webkit-transform: scale(1);
}*/

.headshot {
	width: 75px;
}

.vidboxflexstack {
	padding: 2% 2% 2% 2%;
	position: relative;
	height: 500px;
	display: flex;
}

.interviewname {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.5em;
    padding-top: .4em;
    letter-spacing: .1em;
    line-height: 1em;
}

.interviewcards {
	padding: 0 0 2em 0;
	width: 90%;
}

.column25 {
	width: 25%;
}

#horizontal.flexcontainer {
	flex-direction: row;
}
#interviewcaption {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: .8em;
    letter-spacing: .1em;
    line-height: .3em;
}

#interviewlearnings {
	top: 0;
	padding: 0 1em;
	margin-top: 0;
}
.headercolumn {
	border-left: 6px solid;
}

#chimecolumn.headercolumn {
	border-left-color: #D1C4E9;
}

#snickercolumn.headercolumn {
	border-left-color: #C8E6C9;
}

.boldedfont {
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	font-weight: 400;
	line-height: 1.3em;
    color: #B39DDB;
    text-align: left;
}

.boldedfontnocolor {
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1.3em;
    color: #575757;
    text-align: center;
    padding-top: 5em;
}


#halfcolumns {
	margin: auto;
}
#snickerboldedfont.boldedfont {
	color: #81C784;
	font-weight: 400;
	font-size: 1.5em;
}


#title {
	font-family: 'lato', sans-serif;
	font-weight: 400;
	letter-spacing: 3px;
	font-size: 40px;
}

#description {
	font-size: 20px;
}

.titleunderline {
	margin: auto;
	font-family: 'Josefin Sans', sans-serif; 
	letter-spacing: 5px;
	font-size: 60px;
	z-index: 1;
	color: #607D8B;
	text-align: center;
	padding: 1em 2em 0 2em;
}

#chimeline.titleunderline {
	border-bottom: 3px solid #D1C4E9;
}

#snickerline.titleunderline {
	border-bottom: 3px solid #C8E6C9;
}

#hustleline.titleunderline {
	border-bottom: 3px solid #EF9A9A;
}

#websiteline.titleunderline {
	border-bottom: 3px solid #e29589;
}


.box1 {
	padding: 100px 2% 2% 2%;
	display: flex;
}

.titlebox {
	padding: 100px 2% 100px 2%;
	display: flex;
	height: 30%;
}


#projects, #internships {
	width: 100%;
	height: auto;
}


.gridcontainer {
	margin-right: 5%;
	margin-left: 5%;
	height: auto;
}

.longgrid {
margin: auto;
position: relative;
}



#websitegif {
	padding-top: 5%;
}



/*overlay formatting*/
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: white;
	display: flex;
}

.overlaylink {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;	
}

.longgrid:hover .overlay {
	opacity: .9;
}

.halfgrid:hover .overlay {
	opacity: .9;
}


/*fonts*/
.title {
	font-family: 'Lato', sans-serif;
	margin: auto;
	letter-spacing: .5em;
	font-size: 1.5em;
	font-weight: 300;
	padding-bottom: 5%;
}

.overlaytext {
	text-align: center;
	margin: auto;
	justify-content: center;
	font-family: 'Mukta Vaani', sans-serif;

}

.overlaytexttitle {
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
	font-weight: 600;
	font-size: 2em;
	letter-spacing: .2em;
}

.overlaytextdescription {
	width: 100%;
	font-weight: 300;
	letter-spacing: .2em;
}

.skillsused {
	display: flex;
}

.skillsquare { 
	z-index: 1;
	height: 20px;
	width: 20px;
	margin: auto;
 }

 .skillsusedpage {
 	margin: auto;
 	width: 80%;
	display: flex;
	padding: .7em 0 1.5em 0;
}

 .skillsusedpageskinny {
 	margin: auto;
 	width: 30%;
	display: flex;
	padding: .7em 0 1.5em 0;
}


/*Chime*/


#chimetitle {
	margin: auto;
	font-family: 'Josefin Sans', sans-serif; 
	letter-spacing: 5px;
	font-size: 60px;
	z-index: 1;
	color: #607D8B;
	padding: .2em .2em 0 0;
 }


.roletext {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.5em;
    padding: 1.5em 0 0 0;
    letter-spacing: .1em;
    line-height: 1em;
    margin: auto;
    text-align: center;
}

#lefttimeframe {
	font-family: 'Mukta Vaani', sans-serif;
	font-size: 24px;
	padding: .2em 0 .2em 0;
	letter-spacing: 5px;
	color: #607D8B;
}



/*Animations*/


/*Buttons*/
.outlinedbutton {
	cursor: pointer;
	width: 220px;
	height: 40px;
	border: 3px solid #e29589;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	padding-top: 5px;
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.2em;
    color: #e29589;
    transition: 0.3s ease;
}

.outlinedbutton a {
    color: #e29589;
}
.outlinedbutton:hover {
	background-color: #e29589;
    color: white;
}

.outlinedbutton a:hover{
	color: white;
}

#little {
	width: 120px;
	margin: 0 5% 0 5%;
    font-size: 1em;
}

@media screen and (max-width: 650px) {


#nameicon {
	left: 5%;
	height: 100%;
	width: 20%;
}


#mollyicon {
	height: 85px;
	top: 0;
}


#worknav {
	padding-top: 5%;
	padding-bottom: 5%;
	display: flex;
	height: 85px;
	justify-content: center;
}

#workbtn, #aboutbtn, #resumebtn {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	margin-right: 75px;
	margin-left: 75px;
	margin-top: 10px;
}

#workbtn a, #aboutbtn a, #resumebtn a {
	text-decoration: none;
	color: black;
}

#workbtn:hover a, #aboutbtn:hover a, #resumebtn:hover a {
	color: #e29589;
	cursor: pointer;
	transition: 0.2s;
}

#highlightbutton {
	color: #e29589;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	margin-right: 75px;
	margin-left: 75px;
	margin-top: 10px;
}

#projects, #internships {
	width: 100%;
	height: auto;
}


.gridcontainer {
	margin-right: 5%;
	margin-left: 5%;
	height: auto;
}

.longgrid {
margin: auto;
position: relative;
}



#websitegif {
	padding-top: 5%;
}

.titlecontainer {
	display:flex;
}

/*overlay formatting*/
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: white;
	display: flex;
}

.overlaylink {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;	
}

.longgrid:hover .overlay {
	opacity: .9;
}

.halfgrid:hover .overlay {
	opacity: .9;
}


/*fonts*/
.title {
	font-family: 'Lato', sans-serif;
	margin: auto;
	letter-spacing: .5em;
	font-size: 1.5em;
	font-weight: 300;
	padding-bottom: 5%;
}

.overlaytext {
	text-align: center;
	margin: auto;
	justify-content: center;
	font-family: 'Mukta Vaani', sans-serif;

}

.overlaytexttitle {
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
	font-weight: 600;
	font-size: 2em;
	letter-spacing: .2em;
}

.overlaytextdescription {
	width: 100%;
	font-weight: 300;
	letter-spacing: .2em;
}

.skillsused {
	display: flex;
}

.skillsquare { 
	z-index: 1;
	height: 20px;
	width: 20px;
	margin: auto;
 }

/*Chime*/
#chimevide {
	width: 100%;
}

.leastmargin {
	padding: 10% 5% 10% 5%;
	margin-left: 100px;
	float: top;
	position: relative;
	overflow: auto;
	background-color: red;
}



/*Animations*/


/*Buttons*/
.outlinedbutton {
	cursor: pointer;
	width: 220px;
	height: 40px;
	border: 3px solid #e29589;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	padding-top: 5px;
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.2em;
    color: #e29589;
    transition: 0.3s ease;
}

.outlinedbutton a {
    color: #e29589;
}
.outlinedbutton:hover {
	background-color: #e29589;
    color: white;
}
.outlinedbutton {
	margin: auto;
}
.outlinedbutton a:hover{
	color: white;
}

#little {
	width: 120px;
	margin: 0 5% 0 5%;
    font-size: 1em;
}
}
