/*/*Skeleton*/

@media screen and (min-width: 1340px) {

body {
	margin-right: 5%;
	margin-left: 5%;
}
a {
	text-decoration: none;
	color: #878182;
}

.titlecontainer {
	display:flex;
}
.halfgridcontainer {
	display: flex;
	margin: auto;
}

.halfgrid {
	width: 50%;
	position: relative;

}

.smallscreengrid {
	display: none;
}

.boxcp {
	margin-top: 3%;
	padding: 10% 2% 2% 2%;
}

.marginauto {
	margin: auto;
}

#chimescreen, #hustlescreen, #snickerlong, #websitegif, #botwgrid, #k812grid {
	width: 100%;
	object-fit: contain;
}

#snickershort {
	display: none;
}
/*Header*/
/*Header*/
/*Header*/
/*Header*/
/*Header*/


#header {
	top: 0;
	position: fixed;
	display: flex;
	height: 85px;
	width: 100%;
	padding-top: 2%;
	padding-left: 4%;
	padding-right: 2%;
	background-color: white;
	z-index: 100;
}

#nameicon {
	left: 5%;
	height: 100%;
	width: 25%;
	z-index: -2;
}

#emptyblock {
	width: 23%;
}

#mollyicon {
	height: 70px;
}

#navbar {
	display: flex;
	width: 45%;
	justify-content: center;
}

#workbtn, #aboutbtn, #resumebtn {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	margin: auto;
}

#specialbtn{
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	margin: auto}

#workbtn a, #aboutbtn a, #resumebtn a {
	text-decoration: none;
	color: black;
}

#workbtn:hover a, #aboutbtn:hover a, #resumebtn:hover a {
	color: #e29589;
	cursor: pointer;
}

#highlightbutton {
	color: #e29589;
}

#button {
	color: #e29589;
}

/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/

#footer {
	height: 100px;
	padding-bottom: 5%;
	display: flex;
	text-align: center;
}

#footbar {
	display: flex;
	margin: auto;
	width: 70%;
	height: 100%;
	justify-content: center;
	align-items: center;x
}



/*Font*//*Font*//*Font*//*Font*/
/*Font*//*Font*//*Font*//*Font*/
/*Font*//*Font*//*Font*//*Font*/
/*Font*//*Font*//*Font*//*Font*/

.subtitle {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-bottom: .8em;
    letter-spacing: .1em;
    line-height: 1em;
}

.subtitlenp {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .2em;
    padding-bottom: 1em;
    letter-spacing: .1em;
    line-height: 1em;
    font-weight: 100;
	color: #878182;
}


.chimebold {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0em;
    line-height: 1em;
    font-weight: 600;
    color: #B39DDB;
}

.subtitleunderline {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-bottom: .2em;
    letter-spacing: .1em;
    line-height: 1em;
	border-bottom: 2px solid #CFD8DC;
}

.linesubtitle {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-left: .4em;
    letter-spacing: .1em;
    line-height: 1em;
}

p, ul {
	font-family: 'lato', sans-serif;
	font-weight: 100;
    font-size: 1.2em;
    line-height: 1.7em;
    letter-spacing: .01em;
}

#textcenter {
	text-align: center;
}

#listtitle {
	font-family: 'lato', sans-serif;
	font-weight: 400;
	letter-spacing: .1em;
}

#emphasis {
	font-family: 'lato', sans-serif;
	font-weight: 400;
    font-size: 1.5em;
    padding-top: .6em;
    padding-bottom: .6em;
    color: #607D8B;

}

.numbering {
	font-size: 1.2em;
	font-weight: 500;
	color: #B0BEC5;
}

.boldedfont {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.1em;
    letter-spacing: 0em;
    line-height: 1.7em;
    font-weight: 600;
    color: #B39DDB;
	text-align: center;
}

.boldedfontnc {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0em;
    line-height: 1em;
    font-weight: 600;
    color: #B39DDB;
}

.boldedfontncpink {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2.5em;
    letter-spacing: 0em;
    line-height: 1em;
    font-weight: 600;
    color: #e29589;
}


/*
	text-align: center;
	font-family: 'lato', sans-serif;
	font-weight: 600;
    font-size: 1.2em;
    line-height: 1.7em;
    letter-spacing: .01em;
    color: #6A1B9A;
}*/

#intro { 
	top: 0%;
	height: 40%;
	display: flex;
	align-items: center;
}

#paddingintro { 
	top: 0%;
	height: 40%;
	overflow: hidden;
	display: flex;
	align-items: center;
	padding-bottom: 5%;
}

#container {
	margin: auto;
	top: 20%;
}


 #title {
	margin: auto;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif; 
	letter-spacing: 5px;
	font-size: 80px;
	z-index: 1;
	color: #607D8B;
	padding: .2em 0 .2em 0;
 }

#description {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	letter-spacing: 2px;
 	text-align: center;
 	padding: .2em 0 1em 0;
 	color: #607D8B;
}

#timeframe {
	font-family: 'Mukta Vaani', sans-serif;
	font-size: 24px;
	text-align: center;
	padding: .2em 0 .2em 0;
	letter-spacing: 5px;
	color: #607D8B;
}



#container {
	margin: auto;
	top: 20%;
}

.margin {
	margin-right: 17%;
	margin-left: 17%;
	margin-top: 3%;
	margin-bottom: 3%;
	float: top;
	position: relative;
}

.notopmargin {
	margin-right: 17%;
	margin-left: 17%;
	margin-bottom: 3%;
	float: top;
	position: relative;
	overflow: auto;	
}

.lessmargin {
	margin-right: 3%;
	margin-left: 3%;
	margin-top: 3%;
	margin-bottom: 3%;
	float: top;
	position: relative;
	overflow: auto;
}

.evenlessmargin {
	margin-right: 3%;
	margin-left: 3%;
	float: top;
	position: relative;
	overflow: auto;
}
.aboutmargin {
	margin-top: 100px;
	margin-right: 20%;
	margin-left: 20%;
	margin-bottom: 3%;
}


.aboutmargin1 {
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 5%;

}

#firstbox {
	margin-right: 20%;
	margin-left: 20%;
	margin-top: -5%;
	margin-bottom: -5%;
}

.box, .box2 {
	padding: 2% 2% 2% 2%;
}

.boxflexstack {
	padding: 2% 2% 2% 2%;
	position: relative;
}

.box2 {
	background-color: #fafbfb;
}

.boxwhy {
	background-color: white;
	padding: 2% 2% 0 2%;

}

.textpadding {
	padding-top: 40%;
}

.textpaddingless {
	padding-top: 20%;
}

/*pic decoration*/

#motivation, #hustleneeds {
	width: 80%;
	position: relative;
	display: block;
	margin: auto;
	margin-top: 5%;
}

#longimage {
	width: 100%;
}

#gif, #gif2, #gif3 {
	width: 33%;
	padding: .2em 0 .2em 0;
	flex-direction: row;
	margin: auto;
}

#containgif {
	display: flex;
	margin: auto;
}

.blockimg {
	display: block;
	width: 100%;
	margin: auto;
}

.smallerblock {
	display: block;
	margin: auto;
	width: 70%;
}

.aboutblock {
	padding-top: 3%;
	padding-bottom: %;
	display: block;
	margin: auto;
	width: 70%;
}

.longblock {
	width: 90%;
	display: flex;
	margin: auto;
}


/*Chime*/
#halfcolumns {
	width:50%;
	top: 0;
	padding-left: 5%;
}

#halfcolumns1 {
	width: 50%;
	top: 0;
	padding-right: 5%;
}

#halfcolumnsnopadding {
	width: 50%;
	top: 0;
}

#halfcolumnstoppadding {
	width: 50%;
	top: 20%;
}

#halfcolumnsnopaddingcenter {
	width: 50%;
	top: 0;
	margin: auto;
}

.column34 {
	width: 60%;
}

.column14 {
	width: 35%;
	padding-left: 5%;
}

.column80 {
	width: 85%;
}

.column20 {
	width: 15%;
}

.column3 {
	width: 20%;
}

.column13{
	width: 60%;
}

.column7center {
	width: 70%;
	margin: auto;
}
.flexcontainer {
	display: flex;
	width: 100%;
}



.image34 {
	width: 100%;
}

#headercolumn {
	border-left-style: solid;
	border-left: 6px solid #D1C4E9;
}

#video {
	position: absolute;
	top: 17%;
	width: 80%;
	margin: auto;
	z-index: -1;
}

#video2 {
	width: 80%;
	top: 0%;
	position: absolute;
	z-index: -1;
}

.vidbox {
	width: 100%;
	display: block;

}

.vidtext {
	background-color: yellow;
	width: 40%;
}


/*.vidbox {
	width: 100%;
	background-color: blue;
	height: 10%;
	position: absolute;
}

.vidtext {
	background-color: yellow;
	width: 40%;
	float: right;
	position: relative;
}*/

.vidcontainer {
	display: block;
}
/*animations*/
.fadein {
	opacity: 0;
}
}

@media screen and (max-width: 1150px) {

.titlecontainer {
	display:flex;
}

#chimescreen, #hustlescreen, #snickerlong, #websitegif, #botwgrid, #k812grid {
	width: 100%;
	object-fit: contain;
}

#snickershort {
	display: none;
}
body {
	margin-right: 5%;
	margin-left: 5%;
}

a {
	text-decoration: none;
	color: #878182;
}

.halfgridcontainer {
	display: flex;
	margin: auto;
}

.halfgrid {
	width: 50%;
	position: relative;

}
.smallscreengrid {
	display: none;
}


/*Header*/
/*Header*/
/*Header*/
/*Header*/
/*Header*/

#header {
	top: 0;
	position: fixed;
	display: flex;
	height: 85px;
	width: 100%;
	padding-top: 2%;
	padding-left: 4%;
	padding-right: 2%;
	background-color: white;
	z-index: 100;
}

#nameicon {
	left: 5%;
	height: 100%;
	width: 25%;
	z-index: -2;
}

#emptyblock {
	width: 23%;
}

#mollyicon {
	height: 70px;
}

#navbar {
	display: flex;
	width: 45%;
	justify-content: center;
}

#workbtn, #aboutbtn, #resumebtn {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	margin: auto;
}

#specialbtn{
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	margin: auto;}

#workbtn a, #aboutbtn a, #resumebtn a {
	text-decoration: none;
	color: black;
}

#workbtn:hover a, #aboutbtn:hover a, #resumebtn:hover a {
	color: #e29589;
	cursor: pointer;
}

#highlightbutton {
	color: #e29589;
}

#button {
	color: #e29589;
}

/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/

#footer {
	height: 100px;
	padding-bottom: 5%;
	display: flex;
	text-align: center;
}

#footbar {
	display: flex;
	margin: auto;
	width: 70%;
	height: 100%;
	justify-content: center;
	align-items: center;x
}



/*Font*//*Font*//*Font*//*Font*/
/*Font*//*Font*//*Font*//*Font*/
/*Font*//*Font*//*Font*//*Font*/
/*Font*//*Font*//*Font*//*Font*/

.subtitle {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-bottom: .8em;
    letter-spacing: .1em;
    line-height: 1em;
}

.subtitlenp {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .2em;
    padding-bottom: 1em;
    letter-spacing: .1em;
    line-height: 1em;
    font-weight: 100;
	color: #878182;
}


.chimebold {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0em;
    line-height: 1em;
    font-weight: 600;
    color: #B39DDB;
}

.subtitleunderline {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-bottom: .2em;
    letter-spacing: .1em;
    line-height: 1em;
	border-bottom: 2px solid #CFD8DC;
}

.linesubtitle {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-left: .4em;
    letter-spacing: .1em;
    line-height: 1em;
}

p, ul {
	font-family: 'lato', sans-serif;
	font-weight: 100;
    font-size: 1.2em;
    line-height: 1.7em;
    letter-spacing: .01em;
}

#textcenter {
	text-align: center;
}

#listtitle {
	font-family: 'lato', sans-serif;
	font-weight: 400;
	letter-spacing: .1em;
}

#emphasis {
	font-family: 'lato', sans-serif;
	font-weight: 400;
    font-size: 1.5em;
    padding-top: .6em;
    padding-bottom: .6em;
    color: #607D8B;

}

.numbering {
	font-size: 1.2em;
	font-weight: 500;
	color: #B0BEC5;
}

.boldedfont {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.1em;
    letter-spacing: 0em;
    line-height: 1.7em;
    font-weight: 600;
    color: #B39DDB;
	text-align: center;
}

.boldedfontnc {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0em;
    line-height: 1em;
    font-weight: 600;
    color: #B39DDB;
}

.boldedfontncpink {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2.5em;
    letter-spacing: 0em;
    line-height: 1em;
    font-weight: 600;
    color: #e29589;
}


/*
	text-align: center;
	font-family: 'lato', sans-serif;
	font-weight: 600;
    font-size: 1.2em;
    line-height: 1.7em;
    letter-spacing: .01em;
    color: #6A1B9A;
}*/

#intro { 
	top: 0%;
	height: 40%;
	display: flex;
	align-items: center;
}

#paddingintro { 
	top: 0%;
	height: 40%;
	overflow: hidden;
	display: flex;
	align-items: center;
	padding-bottom: 5%;
}

#container {
	margin: auto;
	top: 20%;
}


 #title {
	margin: auto;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif; 
	letter-spacing: 5px;
	font-size: 80px;
	z-index: 1;
	color: #607D8B;
	padding: .2em 0 .2em 0;
 }

#description {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	letter-spacing: 2px;
 	text-align: center;
 	padding: .2em 0 1em 0;
 	color: #607D8B;
}

#timeframe {
	font-family: 'Mukta Vaani', sans-serif;
	font-size: 24px;
	text-align: center;
	padding: .2em 0 .2em 0;
	letter-spacing: 5px;
	color: #607D8B;
}



#container {
	margin: auto;
	top: 20%;
}

.margin {
	margin-right: 17%;
	margin-left: 17%;
	margin-top: 3%;
	margin-bottom: 3%;
	float: top;
	position: relative;
}

.notopmargin {
	margin-right: 17%;
	margin-left: 17%;
	margin-bottom: 3%;
	float: top;
	position: relative;
	overflow: auto;	
}

.lessmargin {
	margin-right: 3%;
	margin-left: 3%;
	margin-top: 3%;
	margin-bottom: 3%;
	float: top;
	position: relative;
	overflow: auto;
}

.evenlessmargin {
	margin-right: 3%;
	margin-left: 3%;
	float: top;
	position: relative;
	overflow: auto;
}
.aboutmargin {
	margin-top: 100px;
	margin-right: 20%;
	margin-left: 20%;
	margin-bottom: 3%;
}

.aboutmargin1 {
	padding-top: 85px;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
}

.aboutsmallscreen {
	display: none;
}

#firstbox {
	margin-right: 20%;
	margin-left: 20%;
	margin-top: -5%;
	margin-bottom: -5%;
}

.box, .box2 {
	padding: 2% 2% 2% 2%;
}

.boxflexstack {
	padding: 2% 2% 2% 2%;
	position: relative;
}

.box2 {
	background-color: #fafbfb;
}

.boxwhy {
	background-color: white;
	padding: 2% 2% 0 2%;

}

.textpadding {
	padding-top: 40%;
}

.textpaddingless {
	padding-top: 20%;
}

/*pic decoration*/

#motivation, #hustleneeds {
	width: 80%;
	position: relative;
	display: block;
	margin: auto;
	margin-top: 5%;
}

#longimage {
	width: 100%;
}

#gif, #gif2, #gif3 {
	width: 33%;
	padding: .2em 0 .2em 0;
	flex-direction: row;
	margin: auto;
}

#containgif {
	display: flex;
	margin: auto;
}

.blockimg {
	display: block;
	width: 100%;
	margin: auto;
}

.smallerblock {
	display: block;
	margin: auto;
	width: 70%;
}

.aboutblock {
	padding-top: 3%;
	padding-bottom: %;
	display: block;
	margin: auto;
	width: 70%;
}

.longblock {
	width: 90%;
	display: flex;
	margin: auto;
}


/*Chime*/
#halfcolumns {
	width:50%;
	top: 0;
	padding-left: 5%;
}

#halfcolumns1 {
	width: 50%;
	top: 0;
	padding-right: 5%;
}

#halfcolumnsnopadding {
	width: 50%;
	top: 0;
}

#halfcolumnstoppadding {
	width: 50%;
	top: 20%;
}

#halfcolumnsnopaddingcenter {
	width: 50%;
	top: 0;
	margin: auto;
}

.column34 {
	width: 60%;
}

.column14 {
	width: 35%;
	padding-left: 5%;
}

.column80 {
	width: 85%;
}

.column20 {
	width: 15%;
}

.column3 {
	width: 20%;
}

.column13{
	width: 60%;
}

.column7center {
	width: 70%;
	margin: auto;
}

.flexcontainer {
	display: flex;
	width: 100%;
}



.image34 {
	width: 100%;
}

#headercolumn {
	border-left-style: solid;
	border-left: 6px solid #D1C4E9;
}

#video {
	position: absolute;
	top: 17%;
	width: 80%;
	margin: auto;
	z-index: -1;
}

#video2 {
	width: 80%;
	top: 0%;
	position: absolute;
	z-index: -1;
}

.vidbox {
	width: 100%;
	display: block;

}

.vidtext {
	background-color: yellow;
	width: 40%;
}


/*.vidbox {
	width: 100%;
	background-color: blue;
	height: 10%;
	position: absolute;
}

.vidtext {
	background-color: yellow;
	width: 40%;
	float: right;
	position: relative;
}*/

.vidcontainer {
	display: block;
}
/*animations*/
.fadein {
	opacity: 0;
}
}

@media screen and (min-width: 1151px) {
body {
	margin-right: 5%;
	margin-left: 5%;
}

.titlecontainer {
	display:flex;
}

.halfgridcontainer {
	display: flex;
	margin: auto;
}

.halfgrid {
	width: 50%;
	position: relative;

}

.smallscreengrid {
	display: none;
}

#chimescreen, #hustlescreen, #snickerlong, #websitegif, #botwgrid, #k812grid {
	width: 100%;
	object-fit: contain;
}

#snickershort {
	display: none;
}
a {
	text-decoration: none;
	color: #878182;
}

/*Header*/
/*Header*/
/*Header*/
/*Header*/
/*Header*/

#header {
	top: 0;
	position: fixed;
	display: flex;
	height: 85px;
	width: 100%;
	padding-top: 2%;
	padding-left: 4%;
	padding-right: 2%;
	background-color: white;
	z-index: 100;
}

#nameicon {
	left: 5%;
	height: 100%;
	width: 25%;
	z-index: -2;
}

#emptyblock {
	width: 23%;
}

#mollyicon {
	height: 70px;
}


.aboutmargin1 {
	padding-top: 85px;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
}

.aboutsmallscreen {
	display: none;
}
#navbar {
	display: flex;
	width: 45%;
	height: 100%;
	right: 0;
	justify-content: center;
}

#workbtn, #aboutbtn, #resumebtn {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	margin: auto;
}

#specialbtn{
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	margin: auto;}

#workbtn a, #aboutbtn a, #resumebtn a {
	text-decoration: none;
	color: black;
}

#workbtn:hover a, #aboutbtn:hover a, #resumebtn:hover a {
	color: #e29589;
	cursor: pointer;
}

#highlightbutton {
	color: #e29589;
}

#button {
	color: #e29589;
}

/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/

#footer {
	height: 100px;
	padding-bottom: 5%;
	display: flex;
	text-align: center;
}

#footbar {
	display: flex;
	margin: auto;
	width: 70%;
	height: 100%;
	justify-content: center;
	align-items: center;
}



/*Font*//*Font*//*Font*//*Font*/
/*Font*//*Font*//*Font*//*Font*/
/*Font*//*Font*//*Font*//*Font*/
/*Font*//*Font*//*Font*//*Font*/

.subtitle {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-bottom: .8em;
    letter-spacing: .1em;
    line-height: 1em;
}

.subtitlenp {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .2em;
    padding-bottom: .2em;
    letter-spacing: .1em;
    line-height: 1em;
    font-weight: 100;
	color: #878182;
	padding-bottom: 20px;
}


.chimebold {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0em;
    line-height: 1em;
    font-weight: 600;
    color: #B39DDB;
}

.subtitleunderline {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-bottom: .2em;
    letter-spacing: .1em;
    line-height: 1em;
	border-bottom: 2px solid #CFD8DC;
}

.subtitleunderlinecp {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-bottom: .2em;
    letter-spacing: .1em;
    line-height: 1em;
	border-bottom: 2px solid #CFD8DC;
}

.linesubtitle {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-left: .4em;
    letter-spacing: .1em;
    line-height: 1em;
}

p, ul {
	font-family: 'lato', sans-serif;
	font-weight: 100;
    font-size: 1.2em;
    line-height: 1.7em;
    letter-spacing: .01em;
}

#textcenter {
	text-align: center;
}

#listtitle {
	font-family: 'lato', sans-serif;
	font-weight: 400;
	letter-spacing: .1em;
}

#emphasis {
	font-family: 'lato', sans-serif;
	font-weight: 400;
    font-size: 1.5em;
    padding-top: .6em;
    padding-bottom: .6em;
    color: #607D8B;

}

.numbering {
	font-size: 1.2em;
	font-weight: 500;
	color: #B0BEC5;
}

.boldedfont {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.1em;
    letter-spacing: 0em;
    line-height: 1.7em;
    font-weight: 600;
    color: #B39DDB;
	text-align: center;
}

.boldedfontnc {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0em;
    line-height: 1em;
    font-weight: 600;
    color: #B39DDB;
}

.boldedfontncpink {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2.5em;
    letter-spacing: .05em;
    line-height: 1em;
    font-weight: 600;
    color: #e29589;
}

/*
	text-align: center;
	font-family: 'lato', sans-serif;
	font-weight: 600;
    font-size: 1.2em;
    line-height: 1.7em;
    letter-spacing: .01em;
    color: #6A1B9A;
}*/

#intro { 
	top: 0%;
	height: 40%;
	display: flex;
	align-items: center;
}

#paddingintro { 
	top: 0%;
	height: 40%;
	overflow: hidden;
	display: flex;
	align-items: center;
	padding-bottom: 5%;
}

#container {
	margin: auto;
	top: 20%;
}


 #title {
	margin: auto;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif; 
	letter-spacing: 5px;
	font-size: 80px;
	z-index: 1;
	color: #607D8B;
	padding: .2em 0 .2em 0;
 }

#description {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	letter-spacing: 2px;
 	text-align: center;
 	padding: .2em 0 1em 0;
 	color: #607D8B;
}

#timeframe {
	font-family: 'Mukta Vaani', sans-serif;
	font-size: 24px;
	text-align: center;
	padding: .2em 0 .2em 0;
	letter-spacing: 5px;
	color: #607D8B;
}



#container {
	margin: auto;
	top: 20%;
}

.margin {
	margin-right: 17%;
	margin-left: 17%;
	margin-top: 3%;
	margin-bottom: 3%;
	float: top;
	position: relative;
}

.notopmargin {
	margin-right: 17%;
	margin-left: 17%;
	margin-bottom: 3%;
	float: top;
	position: relative;
	overflow: auto;	
}

.lessmargin {
	margin-right: 3%;
	margin-left: 3%;
	margin-top: 3%;
	margin-bottom: 3%;
	float: top;
	position: relative;
	overflow: auto;
}

.evenlessmargin {
	margin-right: 3%;
	margin-left: 3%;
	float: top;
	position: relative;
	overflow: auto;
}
.aboutmargin {
	margin-top: 100px;
	margin-right: 20%;
	margin-left: 20%;
	margin-bottom: 3%;
}



#firstbox {
	margin-right: 20%;
	margin-left: 20%;
	margin-top: -5%;
	margin-bottom: -5%;
}

.box, .box2 {
	padding: 2% 2% 2% 2%;
}

.boxcp {
	padding: 10% 2% 2% 2%;
}

.boxflexstack {
	padding: 2% 2% 2% 2%;
	position: relative;
}

.box2 {
	background-color: #fafbfb;
}

.boxwhy {
	background-color: white;
	padding: 2% 2% 0 2%;

}

.textpadding {
	padding-top: 40%;
}

.textpaddingless {
	padding-top: 20%;
}

/*pic decoration*/

#motivation, #hustleneeds {
	width: 80%;
	position: relative;
	display: block;
	margin: auto;
	margin-top: 5%;
}

#longimage {
	width: 100%;
}

#gif, #gif2, #gif3 {
	width: 33%;
	padding: .2em 0 .2em 0;
	flex-direction: row;
	margin: auto;
}

#containgif {
	display: flex;
	margin: auto;
}

.blockimg {
	display: block;
	width: 100%;
	margin: auto;
}

.smallerblock {
	display: block;
	margin: auto;
	width: 70%;
}

.aboutblock {
	padding-top: 3%;
	padding-bottom: %;
	display: block;
	margin: auto;
	width: 70%;
}

.longblock {
	width: 90%;
	display: flex;
	margin: auto;
}


/*Chime*/
#halfcolumns {
	width:50%;
	top: 0;
	padding-left: 5%;
}

#halfcolumns1 {
	width: 50%;
	top: 0;
	padding-right: 5%;
}

#halfcolumnsnopadding {
	width: 50%;
	top: 0;
}

#halfcolumnsnopaddingcenter {
	width: 50%;
	top: 0;
	margin: auto;
}

#halfcolumnstoppadding {
	width: 50%;
	top: 20%;
}


.column34 {
	width: 60%;
}

.column14 {
	width: 35%;
	padding-left: 5%;
}

.column80 {
	width: 85%;
}

.column20 {
	width: 15%;
}

.column3 {
	width: 20%;
}

.column7 {
	width: 70%;
}

.column7center {
	width: 70%;
	margin: auto;
}

.column13{
	width: 60%;
}
.flexcontainer {
	display: flex;
	width: 100%;
}



.image34 {
	width: 100%;
}

#headercolumn {
	border-left-style: solid;
	border-left: 6px solid #D1C4E9;
}

#video {
	position: absolute;
	top: 17%;
	width: 80%;
	margin: auto;
	z-index: -1;
}

#video2 {
	width: 80%;
	top: 0%;
	position: absolute;
	z-index: -1;
}

.vidbox {
	width: 100%;
	display: block;

}

.vidtext {
	background-color: yellow;
	width: 40%;
}


/*.vidbox {
	width: 100%;
	background-color: blue;
	height: 10%;
	position: absolute;
}

.vidtext {
	background-color: yellow;
	width: 40%;
	float: right;
	position: relative;
}*/

.vidcontainer {
	display: block;
}
/*animations*/
.fadein {
	opacity: 0;
}
}


@media screen and (max-width: 982px) {
body {
	margin-right: 5%;
	margin-left: 5%;
}

.titlecontainer {
	display:flex;
}

.halfgridcontainer {
	display: flex;
	margin: auto;
}

.halfgrid {
	width: 50%;
	position: relative;

}

.smallscreengrid {
	display: none;
}
#chimescreen, #hustlescreen, #snickerlong, #websitegif, #botwgrid, #k812grid {
	width: 100%;
	object-fit: contain;
}

#snickershort {
	display: none;
}
a {
	text-decoration: none;
	color: #878182;
}

/*Header*/
/*Header*/
/*Header*/
/*Header*/
/*Header*/

#header {
	top: 0;
	position: fixed;
	display: flex;
	height: 85px;
	width: 100%;
	padding-top: 2%;
	padding-left: 4%;
	padding-right: 2%;
	background-color: white;
	z-index: 100;
}
#nameicon {
	left: 5%;
	height: 100%;
	width: 25%;
	z-index: -2;
}

#emptyblock {
	width: 23%;
}

#mollyicon {
	height: 70px;
}




#navbar {
	display: flex;
	width: 40%;
	height: 100%;
	right: 0;
	justify-content: center;
}

#workbtn, #aboutbtn, #resumebtn {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	margin-right: 75px;
	margin-left: 75px;
	margin-top: 10px;
}

#specialbtn{
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	margin: auto;}

#workbtn a, #aboutbtn a, #resumebtn a {
	text-decoration: none;
	color: black;
}

#workbtn:hover a, #aboutbtn:hover a, #resumebtn:hover a {
	color: #e29589;
	cursor: pointer;
}

#highlightbutton {
	color: #e29589;
}

#button {
	color: #e29589;
}

/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/

#footer {
	height: 100px;
	padding-bottom: 5%;
	display: flex;
	text-align: center;
}

#footbar {
	display: flex;
	margin: auto;
	width: 70%;
	height: 100%;
	justify-content: center;
	align-items: center;
}



/*Font*//*Font*//*Font*//*Font*/
/*Font*//*Font*//*Font*//*Font*/
/*Font*//*Font*//*Font*//*Font*/
/*Font*//*Font*//*Font*//*Font*/

.subtitle {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-bottom: .8em;
    letter-spacing: .1em;
    line-height: 1em;
}

.subtitlenp {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .2em;
    padding-bottom: .2em;
    letter-spacing: .1em;
    line-height: 1em;
    font-weight: 100;
	color: #878182;
	padding-bottom: 20px;
}


.chimebold {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0em;
    line-height: 1em;
    font-weight: 600;
    color: #B39DDB;
}

.subtitleunderline {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-bottom: .2em;
    letter-spacing: .1em;
    line-height: 1em;
	border-bottom: 2px solid #CFD8DC;
}

.subtitleunderlinecp {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-bottom: .2em;
    letter-spacing: .1em;
    line-height: 1em;
	border-bottom: 2px solid #CFD8DC;
}

.linesubtitle {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-left: .4em;
    letter-spacing: .1em;
    line-height: 1em;
}

p, ul {
	font-family: 'lato', sans-serif;
	font-weight: 100;
    font-size: 1.2em;
    line-height: 1.7em;
    letter-spacing: .01em;
}

#textcenter {
	text-align: center;
}

#listtitle {
	font-family: 'lato', sans-serif;
	font-weight: 400;
	letter-spacing: .1em;
}

#emphasis {
	font-family: 'lato', sans-serif;
	font-weight: 400;
    font-size: 1.5em;
    padding-top: .6em;
    padding-bottom: .6em;
    color: #607D8B;

}

.numbering {
	font-size: 1.2em;
	font-weight: 500;
	color: #B0BEC5;
}

.boldedfont {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.1em;
    letter-spacing: 0em;
    line-height: 1.7em;
    font-weight: 600;
    color: #B39DDB;
	text-align: center;
}

.boldedfontnc {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0em;
    line-height: 1em;
    font-weight: 600;
    color: #B39DDB;
}

.boldedfontncpink {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2.5em;
    letter-spacing: .05em;
    line-height: 1em;
    font-weight: 600;
    color: #e29589;
}

/*
	text-align: center;
	font-family: 'lato', sans-serif;
	font-weight: 600;
    font-size: 1.2em;
    line-height: 1.7em;
    letter-spacing: .01em;
    color: #6A1B9A;
}*/

#intro { 
	top: 0%;
	height: 40%;
	display: flex;
	align-items: center;
}

#paddingintro { 
	top: 0%;
	height: 40%;
	overflow: hidden;
	display: flex;
	align-items: center;
	padding-bottom: 5%;
}

#container {
	margin: auto;
	top: 20%;
}


 #title {
	margin: auto;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif; 
	letter-spacing: 5px;
	font-size: 80px;
	z-index: 1;
	color: #607D8B;
	padding: .2em 0 .2em 0;
 }

#description {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	letter-spacing: 2px;
 	text-align: center;
 	padding: .2em 0 1em 0;
 	color: #607D8B;
}

#timeframe {
	font-family: 'Mukta Vaani', sans-serif;
	font-size: 24px;
	text-align: center;
	padding: .2em 0 .2em 0;
	letter-spacing: 5px;
	color: #607D8B;
}



#container {
	margin: auto;
	top: 20%;
}

.margin {
	margin-right: 17%;
	margin-left: 17%;
	margin-top: 3%;
	margin-bottom: 3%;
	float: top;
	position: relative;
}

.notopmargin {
	margin-right: 17%;
	margin-left: 17%;
	margin-bottom: 3%;
	float: top;
	position: relative;
	overflow: auto;	
}

.lessmargin {
	margin-right: 3%;
	margin-left: 3%;
	margin-top: 3%;
	margin-bottom: 3%;
	float: top;
	position: relative;
	overflow: auto;
}

.evenlessmargin {
	margin-right: 3%;
	margin-left: 3%;
	float: top;
	position: relative;
	overflow: auto;
}
.aboutmargin {
	margin-top: 100px;
	margin-right: 20%;
	margin-left: 20%;
	margin-bottom: 3%;
}
.aboutmargin1 {
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
}

.aboutsmallscreen {
	display: none;
}


#firstbox {
	margin-right: 20%;
	margin-left: 20%;
	margin-top: -5%;
	margin-bottom: -5%;
}

.box, .box2 {
	padding: 2% 2% 2% 2%;
}

.boxcp {
	padding: 10% 2% 2% 2%;
}

.boxflexstack {
	padding: 2% 2% 2% 2%;
	position: relative;
}

.box2 {
	background-color: #fafbfb;
}

.boxwhy {
	background-color: white;
	padding: 2% 2% 0 2%;

}

.textpadding {
	padding-top: 40%;
}

.textpaddingless {
	padding-top: 20%;
}

/*pic decoration*/

#motivation, #hustleneeds {
	width: 80%;
	position: relative;
	display: block;
	margin: auto;
	margin-top: 5%;
}

#longimage {
	width: 100%;
}

#gif, #gif3 {
	width: 48%;
	padding: .2em 0 .2em 0;
	flex-direction: row;
	margin: auto;
}

#gif2 {
	display: none;
}


#containgif {
	display: flex;
	margin: auto;
}

.blockimg {
	display: block;
	width: 100%;
	margin: auto;
}

.smallerblock {
	display: block;
	margin: auto;
	width: 70%;
}

.aboutblock {
	padding-top: 3%;
	padding-bottom: %;
	display: block;
	margin: auto;
	width: 70%;
}

.longblock {
	width: 90%;
	display: flex;
	margin: auto;
}


/*Chime*/
#halfcolumns {
	width:50%;
	top: 0;
	padding-left: 5%;
}

#halfcolumns1 {
	width: 50%;
	top: 0;
	padding-right: 5%;
}

#halfcolumnsnopadding {
	width: 50%;
	top: 0;
}

#halfcolumnsnopaddingcenter {
	width: 50%;
	margin: auto;
}

#halfcolumnstoppadding {
	width: 50%;
	top: 20%;
}


.column34 {
	width: 60%;
}

.column14 {
	width: 35%;
	padding-left: 5%;
}

.column80 {
	width: 85%;
}

.column20 {
	width: 15%;
}

.column3 {
	width: 20%;
}

.column7 {
	width: 70%;
}

.column7center {
	width: 70%;
	margin: auto;
}

.column13{
	width: 60%;
}
.flexcontainer {
	display: flex;
	width: 100%;
}



.image34 {
	width: 100%;
}

#headercolumn {
	border-left-style: solid;
	border-left: 6px solid #D1C4E9;
}

#video {
	position: absolute;
	top: 17%;
	width: 80%;
	margin: auto;
	z-index: -1;
}

#video2 {
	width: 80%;
	top: 0%;
	position: absolute;
	z-index: -1;
}

.vidbox {
	width: 100%;
	display: block;

}

.vidtext {
	background-color: yellow;
	width: 40%;
}


/*.vidbox {
	width: 100%;
	background-color: blue;
	height: 10%;
	position: absolute;
}

.vidtext {
	background-color: yellow;
	width: 40%;
	float: right;
	position: relative;
}*/

.vidcontainer {
	display: block;
}
/*animations*/
.fadein {
	opacity: 0;
}
}




@media screen and (max-width: 800px) {
body {
	margin-right: 5%;
	margin-left: 5%;
}

.titlecontainer {
	display:flex;
}
.halfgridcontainer {
	display: flex;
	margin: auto;
}

.halfgrid {
	width: 50%;
	position: relative;

}
.smallscreengrid {
	display: none;
}


#chimescreen, #hustlescreen, #snickerlong, #websitegif, #botwgrid, #k812grid {
	width: 100%;
	object-fit: contain;
}

#snickershort {
	display: none;
}
a {
	text-decoration: none;
	color: #878182;
}

/*Header*/
/*Header*/
/*Header*/
/*Header*/
/*Header*/

#header {
	top: 0;
	position: fixed;
	display: flex;
	height: 85px;
	width: 100%;
	padding-top: 2%;
	padding-left: 4%;
	padding-right: 2%;
	background-color: white;
	z-index: 100;
}

#nameicon {
	left: 5%;
	height: 100%;
	width: 25%;
	z-index: -2;
}

#emptyblock {
	width: 23%;
}

#mollyicon {
	height: 70px;
}


.aboutmargin1 {
	padding-top: 90px;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
}

.aboutsmallscreen {
	display: none;
}


#navbar {
	display: flex;
	width: 50%;
	height: 100%;
	right: 0;
	justify-content: center;
}

#workbtn, #aboutbtn, #resumebtn {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	margin: auto;

}

#specialbtn{
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	margin: auto;}

#workbtn a, #aboutbtn a, #resumebtn a {
	text-decoration: none;
	color: black;
}

#workbtn:hover a, #aboutbtn:hover a, #resumebtn:hover a {
	color: #e29589;
	cursor: pointer;
}

#highlightbutton {
	color: #e29589;
}

#button {
	color: #e29589;
}

/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/

#footer {
	height: 100px;
	padding-bottom: 5%;
	display: flex;
	text-align: center;
}

#footbar {
	display: flex;
	margin: auto;
	width: 70%;
	height: 100%;
	justify-content: center;
	align-items: center;
}



/*Font*//*Font*//*Font*//*Font*/
/*Font*//*Font*//*Font*//*Font*/
/*Font*//*Font*//*Font*//*Font*/
/*Font*//*Font*//*Font*//*Font*/

.subtitle {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-bottom: .8em;
    letter-spacing: .1em;
    line-height: 1em;
}

.subtitlenp {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.7em;
    padding-bottom: .2em;
    letter-spacing: .1em;
    line-height: 1em;
    font-weight: 100;
	color: #878182;
	padding-bottom: 20px;
}


.chimebold {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0em;
    line-height: 1em;
    font-weight: 600;
    color: #B39DDB;
}

.subtitleunderline {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-bottom: .2em;
    letter-spacing: .1em;
    line-height: 1em;
	border-bottom: 2px solid #CFD8DC;
}

.subtitleunderlinecp {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-bottom: .2em;
    letter-spacing: .1em;
    line-height: 1em;
	border-bottom: 2px solid #CFD8DC;
}

.linesubtitle {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-left: .4em;
    letter-spacing: .1em;
    line-height: 1em;
}

p, ul {
	font-family: 'lato', sans-serif;
	font-weight: 100;
    font-size: 1.2em;
    line-height: 1.7em;
    letter-spacing: .01em;
}

#textcenter {
	text-align: center;
}

#listtitle {
	font-family: 'lato', sans-serif;
	font-weight: 400;
	letter-spacing: .1em;
}

#emphasis {
	font-family: 'lato', sans-serif;
	font-weight: 400;
    font-size: 1.5em;
    padding-top: .6em;
    padding-bottom: .6em;
    color: #607D8B;

}

.numbering {
	font-size: 1.2em;
	font-weight: 500;
	color: #B0BEC5;
}

.boldedfont {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.1em;
    letter-spacing: 0em;
    line-height: 1.7em;
    font-weight: 600;
    color: #B39DDB;
	text-align: center;
}

.boldedfontnc {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0em;
    line-height: 1em;
    font-weight: 600;
    color: #B39DDB;
}

.boldedfontncpink {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2.2em;
    letter-spacing: .05em;
    line-height: 1em;
    font-weight: 600;
    color: #e29589;
    padding-top: .2em;

}

#intro { 
	top: 0%;
	height: 40%;
	display: flex;
	align-items: center;
}

#paddingintro { 
	top: 0%;
	height: 40%;
	overflow: hidden;
	display: flex;
	align-items: center;
	padding-bottom: 5%;
}

#container {
	margin: auto;
	top: 20%;
}


 #title {
	margin: auto;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif; 
	letter-spacing: 5px;
	font-size: 80px;
	z-index: 1;
	color: #607D8B;
	padding: .2em 0 .2em 0;
 }

#description {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	letter-spacing: 2px;
 	text-align: center;
 	padding: .2em 0 1em 0;
 	color: #607D8B;
}

#timeframe {
	font-family: 'Mukta Vaani', sans-serif;
	font-size: 24px;
	text-align: center;
	padding: .2em 0 .2em 0;
	letter-spacing: 5px;
	color: #607D8B;
}



#container {
	margin: auto;
	top: 20%;
}

.margin {
	margin-right: 17%;
	margin-left: 17%;
	margin-top: 3%;
	margin-bottom: 3%;
	float: top;
	position: relative;
}

.notopmargin {
	margin-right: 17%;
	margin-left: 17%;
	margin-bottom: 3%;
	float: top;
	position: relative;
	overflow: auto;	
}

.lessmargin {
	margin-right: 3%;
	margin-left: 3%;
	margin-top: 3%;
	margin-bottom: 3%;
	float: top;
	position: relative;
	overflow: auto;
}

.evenlessmargin {
	margin-right: 3%;
	margin-left: 3%;
	float: top;
	position: relative;
	overflow: auto;
}
.aboutmargin {
	margin-top: 100px;
	margin-right: 20%;
	margin-left: 20%;
	margin-bottom: 3%;
}


#firstbox {
	margin-right: 20%;
	margin-left: 20%;
	margin-top: -5%;
	margin-bottom: -5%;
}

.box, .box2 {
	padding: 2% 2% 2% 2%;
}

.boxcp {
	padding: 10% 2% 2% 2%;
}

.boxflexstack {
	padding: 2% 2% 2% 2%;
	position: relative;
}

.box2 {
	background-color: #fafbfb;
}

.boxwhy {
	background-color: white;
	padding: 2% 2% 0 2%;

}

.textpadding {
	padding-top: 40%;
}

.textpaddingless {
	padding-top: 20%;
}

/*pic decoration*/

#motivation, #hustleneeds {
	width: 80%;
	position: relative;
	display: block;
	margin: auto;
	margin-top: 5%;
}

#longimage {
	width: 100%;
}

#gif, #gif3 {
	width: 48%;
	padding: .2em 0 .2em 0;
	flex-direction: row;
	margin: auto;
}

#gif2 {
	display: none;
}


#containgif {
	display: flex;
	margin: auto;
}

.blockimg {
	display: block;
	width: 100%;
	margin: auto;
}

.smallerblock {
	display: block;
	margin: auto;
	width: 70%;
}

.aboutblock {
	padding-top: 3%;
	padding-bottom: %;
	display: block;
	margin: auto;
	width: 70%;
}

.longblock {
	width: 90%;
	display: flex;
	margin: auto;
}


/*Chime*/
#halfcolumns {
	width:50%;
	top: 0;
	padding-left: 5%;
}

#halfcolumns1 {
	width: 50%;
	top: 0;
	padding-right: 5%;
}

#halfcolumnsnopadding {
	width: 50%;
	top: 0;
}

#halfcolumnsnopaddingcenter {
	width: 50%;
	top: 0;
	margin: auto;
}

#halfcolumnstoppadding {
	width: 50%;
	top: 20%;
}


.column34 {
	width: 60%;
}

.column14 {
	width: 35%;
	padding-left: 5%;
}

.column80 {
	width: 85%;
}

.column20 {
	width: 15%;
}

.column3 {
	width: 20%;
}

.column7 {
	width: 70%;
}

.column7center {
	width: 70%;
	margin: auto;
}

.column13{
	width: 60%;
}
.flexcontainer {
	display: flex;
	width: 100%;
}



.image34 {
	width: 100%;
}

#headercolumn {
	border-left-style: solid;
	border-left: 6px solid #D1C4E9;
}

#video {
	position: absolute;
	top: 17%;
	width: 80%;
	margin: auto;
	z-index: -1;
}

#video2 {
	width: 80%;
	top: 0%;
	position: absolute;
	z-index: -1;
}

.vidbox {
	width: 100%;
	display: block;

}

.vidtext {
	background-color: yellow;
	width: 40%;
}

.vidcontainer {
	display: block;
}
/*animations*/
.fadein {
	opacity: 0;
}
}




@media screen and (max-width: 650px) {

body {
	margin-right: 1%;
	margin-left: 1%;
}

.titlecontainer {
	padding: 18% 0 5% 0;
	display:flex;
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.2em;
    font-weight: 800;
    color: #e29589;
    text-align: center;
}

.halfgridcontainer {
	display: none;
}

.smallscreengrid {
	display: block;
}

#chimescreen, #hustlescreen, #snickershort, #websitegif, #botwgrid, #k812grid {
	width: 100%;
	object-fit: contain;
	display: block;
}

#snickerlong {
	display: none;
}
a {
	text-decoration: none;
	color: #878182;
}

/*Header*/
/*Header*/
/*Header*/
/*Header*/
/*Header*/

#header {
	top: 0;
	position: fixed;
	display: flex;
	height: 85px;
	width: 100%;
	padding-top: 2%;
	padding-left: 4%;
	padding-right: 2%;
	background-color: white;
	z-index: 100;
}

#nameicon {
	left: 5%;
	height: 100%;
	width: 25%;
	z-index: -2;
}

#emptyblock {
	width: 23%;
}

#mollyicon {
	height: 50px;
	padding-top: 20px;
}


.aboutmargin1 {
	display: none;
}

.aboutsmallscreen {
	padding-top: 90px;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
	display: block;
}


#navbar {
	display: flex;
	width: 50%;
	height: 100%;
	right: 0;
	justify-content: center;
}

#workbtn, #aboutbtn, #resumebtn {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	margin: auto;

}

#specialbtn{
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	margin: auto;}

#workbtn a, #aboutbtn a, #resumebtn a {
	text-decoration: none;
	color: black;
}

#workbtn:hover a, #aboutbtn:hover a, #resumebtn:hover a {
	color: #e29589;
	cursor: pointer;
}

#highlightbutton {
	color: #e29589;
}

#button {
	color: #e29589;
}

/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/
/*footer*//*footer*//*footer*//*footer*/

#footer {
	height: 100px;
	padding-bottom: 5%;
	display: flex;
	text-align: center;
}

#footbar {
	display: flex;
	margin: auto;
	width: 70%;
	height: 100%;
	justify-content: center;
	align-items: center;
}



/*Font*//*Font*//*Font*//*Font*/
/*Font*//*Font*//*Font*//*Font*/
/*Font*//*Font*//*Font*//*Font*/
/*Font*//*Font*//*Font*//*Font*/

.subtitle {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-bottom: .8em;
    letter-spacing: .1em;
    line-height: 1em;
}

.subtitlenp {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.7em;
    padding-bottom: .2em;
    letter-spacing: .1em;
    line-height: 1em;
    font-weight: 100;
	color: #878182;
	padding-bottom: 20px;
	text-align: center;
}


.chimebold {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0em;
    line-height: 1em;
    font-weight: 600;
    color: #B39DDB;
}

.subtitleunderline {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-bottom: .2em;
    letter-spacing: .1em;
    line-height: 1em;
	border-bottom: 2px solid #CFD8DC;
}

.subtitleunderlinecp {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-bottom: .2em;
    letter-spacing: .1em;
    line-height: 1em;
	border-bottom: 2px solid #CFD8DC;
}

.linesubtitle {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2em;
    padding-top: .8em;
    padding-left: .4em;
    letter-spacing: .1em;
    line-height: 1em;
}

p, ul {
	font-family: 'lato', sans-serif;
	font-weight: 100;
    font-size: 1.2em;
    line-height: 1.7em;
    letter-spacing: .01em;
}

#textcenter {
	text-align: center;
}

#listtitle {
	font-family: 'lato', sans-serif;
	font-weight: 400;
	letter-spacing: .1em;
}

#emphasis {
	font-family: 'lato', sans-serif;
	font-weight: 400;
    font-size: 1.5em;
    padding-top: .6em;
    padding-bottom: .6em;
    color: #607D8B;

}

.numbering {
	font-size: 1.2em;
	font-weight: 500;
	color: #B0BEC5;
}

.boldedfont {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.1em;
    letter-spacing: 0em;
    line-height: 1.7em;
    font-weight: 600;
    color: #B39DDB;
	text-align: center;
}

.boldedfontnc {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0em;
    line-height: 1em;
    font-weight: 600;
    color: #B39DDB;
}

.boldedfontncpink {
	font-family: 'Mukta Vaani', sans-serif;
    font-size: 2.2em;
    letter-spacing: .05em;
    line-height: 1em;
    font-weight: 600;
    color: #e29589;
    padding-top: .4em;
    text-align: center;
}

#intro { 
	top: 0%;
	height: 40%;
	display: flex;
	align-items: center;
}

#paddingintro { 
	top: 0%;
	height: 40%;
	overflow: hidden;
	display: flex;
	align-items: center;
	padding-bottom: 5%;
}

#container {
	margin: auto;
	top: 20%;
}


 #title {
	margin: auto;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif; 
	letter-spacing: 5px;
	font-size: 80px;
	z-index: 1;
	color: #607D8B;
	padding: .2em 0 .2em 0;
 }

#description {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	letter-spacing: 2px;
 	text-align: center;
 	padding: .2em 0 1em 0;
 	color: #607D8B;
}

#timeframe {
	font-family: 'Mukta Vaani', sans-serif;
	font-size: 24px;
	text-align: center;
	padding: .2em 0 .2em 0;
	letter-spacing: 5px;
	color: #607D8B;
}



#container {
	margin: auto;
	top: 20%;
}

.margin {
	margin-right: 17%;
	margin-left: 17%;
	margin-top: 3%;
	margin-bottom: 3%;
	float: top;
	position: relative;
}

.notopmargin {
	margin-right: 17%;
	margin-left: 17%;
	margin-bottom: 3%;
	float: top;
	position: relative;
	overflow: auto;	
}

.lessmargin {
	margin-right: 3%;
	margin-left: 3%;
	margin-top: 3%;
	margin-bottom: 3%;
	float: top;
	position: relative;
	overflow: auto;
}

.evenlessmargin {
	margin-right: 3%;
	margin-left: 3%;
	float: top;
	position: relative;
	overflow: auto;
}
.aboutmargin {
	margin-top: 100px;
	margin-right: 20%;
	margin-left: 20%;
	margin-bottom: 3%;
}


#firstbox {
	margin-right: 20%;
	margin-left: 20%;
	margin-top: -5%;
	margin-bottom: -5%;
}

.box, .box2 {
	padding: 2% 2% 2% 2%;
}

.boxcp {
	padding: 10% 2% 2% 2%;
}

.boxflexstack {
	padding: 2% 2% 2% 2%;
	position: relative;
}

.box2 {
	background-color: #fafbfb;
}

.boxwhy {
	background-color: white;
	padding: 2% 2% 0 2%;

}

.textpadding {
	padding-top: 40%;
}

.textpaddingless {
	padding-top: 20%;
}

/*pic decoration*/

#motivation, #hustleneeds {
	width: 80%;
	position: relative;
	display: block;
	margin: auto;
	margin-top: 5%;
}

#longimage {
	width: 100%;
}

#gif {
	width: 95%;
	padding: .2em 0 .2em 0;
	flex-direction: row;
	margin: auto;
}

#gif2, #gif3 {
	display: none;
}


#containgif {
	display: flex;
	margin: auto;
}

.blockimg {
	display: block;
	width: 100%;
	margin: auto;
}

.smallerblock {
	display: block;
	margin: auto;
	width: 70%;
}

.aboutblock {
	padding-top: 3%;
	padding-bottom: %;
	display: block;
	margin: auto;
	width: 70%;
}

.longblock {
	width: 90%;
	display: flex;
	margin: auto;
}


/*Chime*/
#halfcolumns {
	width:50%;
	top: 0;
	padding-left: 5%;
}

#halfcolumns1 {
	width: 50%;
	top: 0;
	padding-right: 5%;
}

#halfcolumnsnopadding {
	width: 50%;
	top: 0;
}

#halfcolumnsnopaddingcenter {
	width: 50%;
	top: 0;
	margin: auto;
}

#halfcolumnstoppadding {
	width: 50%;
	top: 20%;
}


.column34 {
	width: 60%;
}

.column14 {
	width: 35%;
	padding-left: 5%;
}

.column80 {
	width: 85%;
}

.column20 {
	width: 15%;
}

.column3 {
	width: 20%;
}

.column7 {
	width: 70%;
}

.column7center {
	width: 70%;
	margin: auto;
}

.column13{
	width: 60%;
}
.flexcontainer {
	display: flex;
	width: 100%;
}



.image34 {
	width: 100%;
}

#headercolumn {
	border-left-style: solid;
	border-left: 6px solid #D1C4E9;
}

#video {
	position: absolute;
	top: 17%;
	width: 80%;
	margin: auto;
	z-index: -1;
}

#video2 {
	width: 80%;
	top: 0%;
	position: absolute;
	z-index: -1;
}

.vidbox {
	width: 100%;
	display: block;

}

.vidtext {
	background-color: yellow;
	width: 40%;
}

.vidcontainer {
	display: block;
}
/*animations*/
.fadein {
	opacity: 0;
}
}




